div.ex-1-square{
    transition: background 3s linear ;
}

div.ex-1-square:hover{
    background-color: red;
}
/* __________________________ */

div.ex-2-square{
    transition: width 2s ease-in-out;
}
div.ex-2-square:active{
    width: 100%;
}
/* ________________________________ */

div.ex-3-square{
    transition: border-radius 0.5s ease-in-out;
}
div.ex-3-square:hover{
    border-radius: 50%;
}
/* _______________________________ */

div.ex-4-square{
    transition: background 1s linear ;
}
div.ex-4-square:hover{
    background-color: #f5f3f3;
}
/* _________________________________ */

div.ex-5-square{
    transition: transform 1s ease-in-out;
}
div.ex-5-square:hover{
    transform: scale(2);    /*1 uguale al 100%, 2 il doppio */
}
div.ex-5-square:active{
    transform: scale(0.50);
}
/* _____________________________________ */

img.ex-6-img{
    transition: filter ease;
}
img.ex-6-img:hover{
    filter:grayscale(100%);
}
/* ______________________________________ */

img.ex-7-img{
    transition: filter 2s ease-in;
}
img.ex-7-img:hover{
    filter:sepia(0.5);
}
/* ____________________________________ */
img.ex-8-img{
    transition: all 1s linear 1s;
}
img.ex-8-img:hover{
    filter: grayscale(.6) sepia(.5);
    border-radius: 20px;
}
/* _______________________________ */

img.ex-9-img{
    transition: all 1s ease-in-out;
}
img.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 20px;
    filter: grayscale(.6) sepia(.5);
}
/* ________________________________ */

i.ex-10-icon{
    animation-name: infinity;
    animation-duration: 1s; /*quanto tempo ci mette a fare un giro*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes infinity {
    0%{transform: rotate(-360deg);}
}
/* ________________________ */

i.ex-11-icon:hover{
    animation-name: incomplete;
    animation-duration: 3s; /*quanto tempo ci mette a fare un giro*/
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes incomplete {
    0%{transform: rotate(0deg);}
    90%{transform: rotate(280deg);}
}



div.ex-12-button:hover .ex-12-top-white{
    animation-name: left;
    animation-duration: 1s; /*quanto tempo ci mette a fare un giro*/
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes left {
    0%{left: 10%;}
    50%{left: 100%;}
    100%{left:10%;}
}
